<table>
    <tbody>
        <tr>
            <td>
                <input id="allUsers" name="To" style="width: auto;" type="radio" value="AllUsers">
                <label for="To">All Users</label>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <input id="allUsersFranchisee" name="To" style="width: auto;" type="radio" value="FranchiseeUsers">
                <label for="To">Franchisee</label>
            </td>
            <td>
                <select data-val="true" data-val-number="The field FranchiseeID must be a number." id="listFranchisee" name="FranchiseeID" disabled="">
                    <option value="1">Admin</option>
                    <option value="8">Cafe2U Campbellfield</option>
                    <option value="9">Cafe2U Homebush</option>
                    <option value="11">Cafe2U Armadale</option>
                    <option value="12">Cafe2U Melrose Park</option>
                    <option value="13">Cafe2U Tamworth OLD</option>
                    <option value="14">Cafe2U Mornington</option>
                    <option value="18">Cafe2U Midland</option>
                    <option value="19">Cafe2U Knoxfield</option>
                    <option value="20">Cafe2U Bankstown</option>
                    <option value="21">Cafe2U Nambour</option>
                    <option value="23">Cafe2U Moorooka</option>
                    <option value="24">Cafe2U Surfers Paradise</option>
                    <option value="25">Cafe2U Yatala</option>
                    <option value="26">Cafe2U Coffs Harbour</option>
                    <option value="27">Cafe2U Tuggerah</option>
                    <option value="28">Cafe2U Westmead</option>
                    <option value="29">Cafe2U Cannington</option>
                    <option value="30">Cafe2U Braeside</option>
                    <option value="32">Cafe2U Coffs</option>
                    <option value="33">Test Franchisee</option>
                    <option value="34">Cafe2U Training Academy</option>
                    <option value="35">Cafe2U Training George</option>
                    <option value="36">Cafe2U Training Alan</option>
                    <option value="37">Cafe2U Hallam</option>
                    <option value="38">Cafe2U Mayfield</option>
                    <option value="39">Cafe2U Lane Cove</option>
                    <option value="40">Cafe2U Training ONE</option>
                    <option value="41">Cafe2U Mitchell</option>
                    <option value="42">Cafe2U Hemmant</option>
                    <option value="43">Cafe2U Nunawading</option>
                    <option value="44">Cafe2U Brendale</option>
                    <option value="45">Cafe2U Towoomba</option>
                    <option value="46">Cafe2U Botany</option>
                    <option value="47">Cafe2U Derrimut</option>
                    <option value="48">Cafe2u Test Account iTunes</option>
                    <option value="49">Cafe2U Coolaroo</option>
                    <option value="50">Cafe2U Belmont</option>
                    <option value="51">Cafe2U Brokvale West</option>
                    <option value="52">Cafe2U Port Adelaide</option>
                    <option value="53">Cafe2U Cairns North</option>
                    <option value="54">Cafe2U Frenchs Forest</option>
                    <option value="55">Cafe2U Erskine Park</option>
                    <option value="56">Cafe2U Bayswater North</option>
                    <option value="57">Cafe2U Mona Vale</option>
                    <option value="58">Cafe2U Embleton-Morley</option>
                    <option value="59">Cafe2u Forster-Taree</option>
                    <option value="60">Cafe2U Belrose</option>
                    <option value="61">Cafe2U Joondalup</option>
                    <option value="62">Cafe2U South Wollongong</option>
                    <option value="63">Cafe2U Welshpool</option>
                    <option value="64">Cafe2U Woodville</option>
                    <option value="65">Cafe2U Footscray</option>
                    <option value="66">Cafe2U Heatherton</option>
                    <option value="67">Cafe2U Redlands</option>
                    <option value="68">Cafe2U Liverpool</option>
                    <option value="69">Cafe2U Castle Hill East</option>
                    <option value="70">Cafe2U Gold Coast North</option>
                    <option value="71">Cafe2U Mandurah</option>
                    <option value="72">Cafe2U Wetherill Park North</option>
                    <option value="73">Cafe2U Alexandria</option>
                    <option value="74">Cafe2U Rockingham</option>
                    <option value="75">Cafe2U Hoppers Crossing</option>
                    <option value="76">Cafe2u Bankstown 1</option>
                    <option value="77">Cafe2U Penrith</option>
                    <option value="78">Cafe2U Essendon</option>
                    <option value="79">Cafe2U Rockdale</option>
                    <option value="80">Cafe2U St Leonards</option>
                    <option value="81">Cafe2U Rosebery</option>
                    <option value="82">Cafe2U Pakenham</option>
                    <option value="83">Cafe2U Kenwick Maddington</option>
                    <option value="84">Cafe2U Glenelg</option>
                    <option value="85">Cafe2U Chipping Norton</option>
                    <option value="86">Cafe2U Noosa Heads</option>
                    <option value="87">Cafe2U Cromer Dee Why</option>
                    <option value="88">Cafe2U Chatswood</option>
                    <option value="89">Cafe2U Seven Hills</option>
                    <option value="90">Cafe2U North Lakes</option>
                    <option value="91">Cafe2U Shepparton</option>
                    <option value="92">Cafe2U Gosford</option>
                    <option value="93">Cafe2U Ingleburn</option>
                    <option value="94">Cafe2U Balcatta</option>
                    <option value="95">Cafe2U Moorabbin</option>
                    <option value="96">Cafe2U Gaetshead</option>
                    <option value="97">Cafe2U Geelong South</option>
                    <option value="98">Cafe2U Riverstone</option>
                    <option value="99">Cafe2U Tuggeranong</option>
                    <option value="100">Cafe2U Spearwood South Lake</option>
                    <option value="101">Cafe2U Port Melbourne</option>
                    <option value="102">Cafe2U Glen Waverley</option>
                    <option value="103">Cafe2U Myaree</option>
                    <option value="104">Cafe2U Fyshwick</option>
                    <option value="105">Cafe2U Lonsdale</option>
                    <option value="106">Cafe2U North Fremeantle</option>
                    <option value="110">Cafe2U Peakhurst</option>
                    <option value="111">Cafe2U Huntingwood</option>
                    <option value="112">Cafe2U Point Cook</option>
                    <option value="113">Cafe2U Moorabbin Airport</option>
                    <option value="114">Cafe2U Eagle Farm</option>
                    <option value="115">Cafe2U Wangara</option>
                    <option value="116">Cafe2U Coburg North</option>
                    <option value="117">Cafe2U North Ryde</option>
                    <option value="118">Cafe2U North Perth</option>
                    <option value="119">Cafe2U QA Test</option>
                    <option value="120">Cafe2U Williamstown</option>
                    <option value="121">Cafe2U Sydenham</option>
                    <option value="122">Cafe2U Canning Vale</option>
                    <option value="123">Cafe2U Kings Park</option>
                    <option value="124">Cafe2U Osbourne Park</option>
                    <option value="125">Cafe2U Chester Hill</option>
                    <option value="126">Cafe2U Chullora</option>
                    <option value="127">Cafe2U Moe Morwell</option>
                    <option value="128">Cafe2U Notting Hill</option>
                    <option value="129">Cafe2U Glendenning</option>
                    <option value="130">Cafe2U Cheltenham</option>
                    <option value="131">Cafe2U Tuggerah Wyong</option>
                    <option value="132">Cafe2U Eight Mile Plains</option>
                    <option value="133">Cafe2U Girraween</option>
                    <option value="134">Cafe2U Penrith South</option>
                    <option value="135">Cafe2U Tamworth</option>
                    <option value="136">Cafe2U Capalaba</option>
                    <option value="137">Cafe2U Geelong East</option>
                    <option value="138">Cafe2U Raymond Terrace</option>
                    <option value="139">Cafe2U Erina</option>
                    <option value="140">Cafe2U Hume</option>
                    <option value="141">Cafe2U Tweed Heads</option>
                    <option value="142">Cafe2U Narellan</option>
                    <option value="143">Cafe2U Rockhampton</option>
                    <option value="144">Cafe2U Windsor</option>
                    <option value="145">Cafe2U Cronulla</option>
                    <option value="146">Cafe2U St Marys</option>
                    <option value="147">Cafe2U Queanbeyan</option>
                    <option value="148">Cafe2U Wollongong Central</option>
                    <option value="149">Cafe2U Scoresby</option>
                    <option value="150">Cafe2u Northgate Banyo</option>
                    <option value="151">Cafe2U Homebush Bay</option>
                    <option value="152">sdf</option>
                    <option value="153">sdfsdfsdf</option>
                    <option value="154">111111</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <input id="individual" name="To" style="width: auto;" type="radio" value="Individual">
                <label for="To">Individual</label>
            </td>
            <td>
                <select data-val="true" data-val-number="The field UserID must be a number." id="listUsers" name="UserID" disabled="">
                    <option value="1">admin admin</option>
                    <option value="3">George Angelis</option>
                    <option value="22">Mark111111111111111111 Andrews</option>
                    <option value="24">Marcus Allchin</option>
                    <option value="26">Shell Wilson</option>
                    <option value="27">Markus Schwehm</option>
                    <option value="28">Steve McCarthy</option>
                    <option value="29">Clive Heller</option>
                    <option value="31">testAdmin testAdmin</option>
                    <option value="32">Damian Mitchell</option>
                    <option value="34">Training Two</option>
                    <option value="35">Training Three</option>
                    <option value="38">Chris Scollen</option>
                    <option value="39">Livio Orfanelli</option>
                    <option value="40">Felton Fernandes</option>
                    <option value="41">Leesa Beutel</option>
                    <option value="43">Brad Freeman</option>
                    <option value="44">Jim Atkinson</option>
                    <option value="45">Michael Jones</option>
                    <option value="46">George McMaster</option>
                    <option value="47">Christine Donnelly</option>
                    <option value="48">Mary Mitev</option>
                    <option value="49">Kylie Sewell</option>
                    <option value="50">Yogev Harari</option>
                    <option value="52">George McMaster</option>
                    <option value="54">Carolyn Andrews</option>
                    <option value="55">ALEH TEST</option>
                    <option value="56">Aleh Noname</option>
                    <option value="57">Dino Demetriou</option>
                    <option value="58">George Angelis</option>
                    <option value="59">Alan Biddle</option>
                    <option value="60">Oleg Test</option>
                    <option value="61">Peter Pettinella</option>
                    <option value="62">Claire Friebe</option>
                    <option value="63">Robert Alipalo</option>
                    <option value="64">Bankstown Two</option>
                    <option value="65">Training One</option>
                    <option value="66">Training One</option>
                    <option value="67">Lincoln Roberts</option>
                    <option value="68">Richard Lowe</option>
                    <option value="69">Andrey Test</option>
                    <option value="70">Russell Chambers</option>
                    <option value="71">Laura Osborne</option>
                    <option value="72">Pauline Prior</option>
                    <option value="73">Joanne Valdes</option>
                    <option value="74">Antonio Musique</option>
                    <option value="75">Test Account</option>
                    <option value="76">iTunes Test</option>
                    <option value="77">Dean Ettwell</option>
                    <option value="78">David O'heare</option>
                    <option value="79">Jim Anderson</option>
                    <option value="80">Maggie Ettwell</option>
                    <option value="81">Travis Grant</option>
                    <option value="82">James &amp; Alicia Douche</option>
                    <option value="83">George Test</option>
                    <option value="84">Kristal McMaster</option>
                    <option value="85">Jack Richardson</option>
                    <option value="86">Damien Tyler</option>
                    <option value="87">Helen Black</option>
                    <option value="88">Michael Rowland</option>
                    <option value="89">James Arrow</option>
                    <option value="90">Carolyn Dunn</option>
                    <option value="91">Sonia Ludick</option>
                    <option value="92">Jennifer Kelly</option>
                    <option value="93">Kylie Sewell</option>
                    <option value="94">Ellie Sewell</option>
                    <option value="95">Jim Pazios</option>
                    <option value="96">Shane Roberts</option>
                    <option value="97">Yogi Parmar</option>
                    <option value="98">Kieran Doyle</option>
                    <option value="99">Danny Rodriguez</option>
                    <option value="100">Vernon Nazareth</option>
                    <option value="101">Stan Williams</option>
                    <option value="102">Chris davey</option>
                    <option value="103">Vikki Colios</option>
                    <option value="104">John Sabareza</option>
                    <option value="105">Steve &amp; Jackie Chapman</option>
                    <option value="106">Tony Crouch</option>
                    <option value="107">Jimmy Dao</option>
                    <option value="108">Linda Khong</option>
                    <option value="109">Marcus Hogan</option>
                    <option value="110">Michelle Bowman</option>
                    <option value="111">Belinda Ram</option>
                    <option value="112">Michael &amp; Pamela Nicholas</option>
                    <option value="113">Ken Tran</option>
                    <option value="114">Michael King</option>
                    <option value="115">Andy &amp; Mandy Lynch</option>
                    <option value="116">John Prasad</option>
                    <option value="117">Andre Khawaja</option>
                    <option value="118">Samantha Lloyd</option>
                    <option value="119">Michael Dolahenty</option>
                    <option value="120">Jenny Kidd</option>
                    <option value="121">Bill Nichols</option>
                    <option value="122">Sharon Kirakov</option>
                    <option value="123">David Evans</option>
                    <option value="124">Craig Ballard</option>
                    <option value="125">Tran Dinh</option>
                    <option value="126">Paul Kelly</option>
                    <option value="127">Jonny Liebenberg</option>
                    <option value="128">Stephen Le Gay Brereton</option>
                    <option value="129">Julie Kershaw</option>
                    <option value="130">Peter  McFarlane</option>
                    <option value="131">John Stanton</option>
                    <option value="132">Diane Wilks</option>
                    <option value="133">Graeme Austin</option>
                    <option value="134">Steve Bradshaw</option>
                    <option value="135">Darrell Bryne</option>
                    <option value="136">Paul Vosloo</option>
                    <option value="137">Anton Van Den Heever</option>
                    <option value="138">Peter Wessel</option>
                    <option value="139">Nigel King</option>
                    <option value="140">Paul Toubia</option>
                    <option value="141">Amanda Laing</option>
                    <option value="142">Amanda Lawrence</option>
                    <option value="143">Roula Fetsis</option>
                    <option value="144">Neil Grace</option>
                    <option value="145">Jo Wallace</option>
                    <option value="146">John Kaxos</option>
                    <option value="147">Caroline Suster</option>
                    <option value="148">Jon Roberts</option>
                    <option value="149">Michelle Tuyau</option>
                    <option value="150">David Maksielias</option>
                    <option value="151">Adrian Mills</option>
                    <option value="152">Murat Yavas</option>
                    <option value="153">Keith Hope</option>
                    <option value="154">Lisa Minett</option>
                    <option value="155">Eddie Mete</option>
                    <option value="156">Tracey Oakley</option>
                    <option value="157">Carole Blundell</option>
                    <option value="158">Kevork Agopian</option>
                    <option value="159">Oleg Vaksman</option>
                    <option value="160">David &amp; Belinda Conna</option>
                    <option value="161">David &amp; Christine Randle</option>
                    <option value="162">Clare Estephan</option>
                    <option value="163">Philip Marion</option>
                    <option value="164">Carlo Rodriguez</option>
                    <option value="165">Steve McCarthy</option>
                    <option value="166">Bill Hasdell</option>
                    <option value="167">Paul &amp; Gail Octigan</option>
                    <option value="168">Gary Cooke</option>
                    <option value="169">Matthew &amp; Leanne Ball</option>
                    <option value="170">Graeme Lowes</option>
                    <option value="171">Peter McCormack</option>
                    <option value="172">Martyn Carlton</option>
                    <option value="173">Michelle Lacey</option>
                    <option value="174">Steve Payk</option>
                    <option value="175">Nick Manalopoulos</option>
                    <option value="176">Mark Madden</option>
                    <option value="177">Gerard Nowland</option>
                    <option value="178">Corey Cassar</option>
                    <option value="179">TEST Domain</option>
                    <option value="180">Troy Millet</option>
                    <option value="181">George Terecans</option>
                    <option value="182">Joan Nowland</option>
                    <option value="183">Ryan Lotho</option>
                    <option value="184">Zmicier Ø</option>
                    <option value="185">fgf sdfsdf</option>
                    <option value="186">dfgdf gdfgdfg</option>
                    <option value="187">Somebody Somebody</option>
                    <option value="188">Somebody Somebody</option>
                    <option value="189">sdfsdf sdfs</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>