<div class="row grid-row">
    <div class="col-md-1">
        <span data-bind="text:id"></span>
    </div>
    <div class="col-md-3">
        <span data-bind="text:legalName"></span>
    </div>
    <div class="col-md-2">
        <span data-bind="text:codeNumber"></span>
    </div>
    <div class="col-md-2">
        <span data-bind="text: status.typeName,css: status.style"></span>
    </div>
    <div class="col-md-4 buttons">
        <a data-bind="attr:{'href': configureLink}" class="btn btn-primary flowchartConfigureLink" title="UPDATE">
            <span>✎</span>
        </a>
        <a data-bind="click:$parent.onRemove.bind($parent)" class="btn btn-danger flowchartConfigureLink" title="DELETE">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
        <div class="arrow arrows" title="DETAILS" data-bind="css:{'down': !detailsOpened(), 'up': detailsOpened()}, click: switchDetail">
            <span>❯</span>
        </div>

    </div>
</div>
<div class="panel-content">
    <!-- ko if: users.length !== 0 -->
    <div data-bind="visible: detailsOpened" class="row-content">
        <div data-bind="compose: { model: { template: $root.tableUsersTemplate, models: users},view:'views/entities/templates/tableContentTemplate'  }"></div>
    </div>
    <!-- /ko -->
    <!-- ko if: vehicles.length !== 0 -->
    <div data-bind="visible: detailsOpened" class="row-content">
        <div data-bind="compose: { model: { template: $root.tableVehiclesTemplate, models: vehicles},view:'views/entities/templates/tableContentTemplate'  }"></div>
    </div>
    <!-- /ko -->

    <!-- ko if: categories.length !== 0 -->
    <div data-bind="visible: detailsOpened" class="row-content">
        <div data-bind="compose: { model: { template: $root.tableCategoriesTemplate, models: categories},view:'views/entities/templates/tableContentTemplate'  }"></div>
    </div>
    <!-- /ko -->

</div>