<div class="auth-container">
    <div class="container">
        <div class="login">
            <h1 class="login-heading">
                <strong>Добро пожаловать.</strong> Пожалуйста,авторизируйтесь.
            </h1>
            <div>
                <input data-bind="value: name" type="text" name="user" placeholder="имя" required="required" class="input-txt" />
                <input data-bind="value: password" type="password" name="password" placeholder="пароль" required="required" class="input-txt" />
                <div class="login-footer">
                    <button data-bind="click: authorize" type="submit" class="btn btn--right">Войти </button>
                </div>
            </div>
        </div>
    </div>
</div>