<form class="form-horizontal" data-active-view="true">
    <div class="form-group">
        <label for="inputName" class="col-sm-3 control-label">
            Код
            <span class="requiredAsterisk">Req</span>
        </label>
        <div class="col-sm-8">
            <input type="text" data-bind="value:code" class="form-control" required id="inputName" placeholder="Код">
        </div>
    </div>
    <div class="form-group">
        <label for="inputLastName" class="col-sm-3 control-label">
            Название
            <span class="requiredAsterisk">Req</span>
        </label>
        <div class="col-sm-8">
            <input type="text" data-bind="value:name" class="form-control" required id="inputLastName" placeholder="Название">
        </div>
    </div>
</form>