<div class="row grid-row">

    <div class="col-md-1">
        <span data-bind="text:id"></span>
    </div>
    <div class="col-md-2">
        <span data-bind="text:vehicleCode"></span>
    </div>

    <div class="col-md-2">
        <span data-bind="text:licensePlate"></span>
    </div>
    <div class="col-md-2">
        <span data-bind="text:franchiseeName"></span>
    </div>
    <div class="col-md-2">
        <span data-bind="text: status.typeName,css: status.style"></span>
    </div>
    <div class="col-md-1">
        <input type="checkbox" data-bind="checked: assigned" disabled="">
    </div>
    <div class="col-md-2 buttons">
        <a data-bind="click:$parent.onUpdate.bind($parent)" class="btn btn-primary flowchartConfigureLink" title="CONFIGURE" data-bind="attr:{'href': configureLink}" href="#clientName/Coca-Cola/flowchart/63ccb9ef-0d29-4adf-89e0-4a6bb8ba04a2">
            <span>✎</span>
        </a>
        <a data-bind="click:$parent.onRemove.bind($parent)" class="btn btn-danger flowchartConfigureLink" title="DELETE" data-bind="click: $parent.onRemove.bind($parent)">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
</div>